.login {
    height: calc(100vh - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("../../../public/login.jpeg");
    background-size: cover;
    
}
.logintittle{
    font-size: 50px;
    
}

.loginform{
    margin-top: 20px;
    display: flex;
    flex-direction: column;

}
.loginform > label{
    margin: 10px 0;
}
.logininput{
    padding: 10px;
    background-color: white;
    border: none;

}
.loginbutton{
    margin-top: 20px;
    cursor: pointer;
    background-color: teal;
    border: none;
    padding: 10px;
    border-radius: 10px;
    color: white;

}
.registerbutton{
    top: 60px;
    right: 20px;
    cursor: pointer;
    background-color: teal;
    border: none;
    border-radius: 10px;
    color: white; 
    position: absolute;
    padding: 10px;
}