.header{
    margin-top: 0px;

}
.headertittle{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Alatsi', sans-serif;
    color: #444;
} 
.headtittlesm{
    position: absolute;
    top: 18%;
    font-size: 20px;
}
.headtittlelg{
    position: absolute;
    top: 20%;
    font-size: 100px;
}
.headerimg{
    width: 100%;
    height: 450px ;
    margin-top: 20px;
    object-fit: cover;
}